# Exercise 2 - Lists and indices
The exercise for this week is meant to help you better understand lists in Python. You will also get to practice the Markdown syntax.

Exercise 2 consists of 3 problems. For each problem you need to modify the notebook by adding your own solutions.

## Please note

- The Python code cells where you should make changes will contain text that reads. You can edit these cells as you like as long as the answers are correct.

  ```Python
    YOUR CODE HERE
  ```

- Some of the code cells contain tests. If these tests fail (you see an error message), you know there is still something wrong with your code.

## Assignment 1 - Making and changing lists

Your first task for this week is to create a list of old and popular European railway stations and the years in which they began operating.
You will then add some more stations and operation years to your lists, and finally sort the lists such that the newest station is first in the list of operation years.
You will find the list of stations and the years in which they began operating below.

| station name        | First year of operation |
| ----------------------- | :---------------------: |
| Gare d'Osay             | 1900                    |
| Madrid Atocha           | 1851                    |
| Basil                   | 1907                    |
| Roma Termini            | 1874                    |
| King's Cross            | 1851                    |

### Grading for Assignment 1

Your score for this problem will be based on

- Creating two lists for the train station names and years in which they began operating
- Adding the second set of stations and operation years to your lists
- Sorting the lists as directed
- Listing the changes you needed to make to get the code working in plain English by modifying the existing text or adding a Markdown/Text cell above each change

### Part 1 - Creating the lists

In the cell below you should create two lists:

- `station_names` should contain the train station names in the order they are given in the table above
- `station_start_years` should contain the first years of operation of the stations, again in the order given above

In [ ]:
# YOUR CODE HERE
# Create the lists below
station_names = None
station_start_years = None

Let's now check the lists contain the expected values.

In [ ]:
 This is a test cell that checks that the list lengths are correct
# Running this cell should not produce any errors
assert len(station_names) == 5, 'The station_names list should have 5 items.'
assert len(station_start_years) == 5, 'The station_start_years list should have 5 items.'

In [ ]:
# This is a test cell that checks that the first item in the lists is correct
# Running this cell should not produce any errors
assert station_names[0] == 'Gare d Osay', 'The first item in the station_names list should be "Gare d Osay"'
assert station_start_years[0] == 1900, 'The first item in the station_start_years list should be 1900'

### Part 2 - Modifying the lists

Let's now add a few more stations to our lists.
The stations to add are shown in the table below.

| FMI station name | First year of operation |
| ---------------- | :---------------------: |
| Berlin Hauptbahf | 1871                    |
| Lille Flanders   | 1892                    |
| Rostock          | 1886                   |

In the cell below you should add the stations and starting years to your existing `station_names` and `station_start_years` lists in the order they are listed above.

In [ ]:
# Below, add the stations from the second table to the lists

# YOUR CODE HERE

And we can now check to see whether the modified lists contain the expected values.

In [ ]:
# This is a test cell that checks that the list lengths are correct
# Running this cell should not produce any errors
assert len(station_names) == 8, 'The station_names list should have 8 items.'
assert len(station_start_years) == 8, 'The station_start_years list should have 8 items.'

In [ ]:
# This is a test cell that checks that the last item in the lists is correct
# Running this cell should not produce any errors
assert station_names[-1] == 'Rostock', 'The last item in the station_names list should be "Rostock"'
assert station_start_years[-1] == 1886, 'The last item in the station_start_years list should be 1886'

### Part 3 - Sorting the lists

Finally, we can take our lists and sort them. The goal here is to produce two sorted lists:

- The `station_names` list should be sorted so the stations are in alphabetical order
- The `station_start_years` list should be sorted so that the most recent station starting year is first in the list

In [ ]:
# Below, sort the lists as directed

# YOUR CODE HERE

Let's now check that the first value in each sorted list is correct.

In [ ]:
# This is a test cell that checks that the last item in the lists is correct
# Running this cell should not produce any errors
assert station_names[0] == 'Basil', 'The first item in the station_names list should be "Basil"'
assert station_start_years[0] == 1851, 'The first item in the station_start_years list should be 1851'

### Part 4 - Understanding the code

Looking at the lists used in Assignment 1, what might be a problem with how we have sorted them?
Please answer briefly in the cell below.

YOUR ANSWER HERE

## Assignment 2 - Accessing monthly average temperatures

The table below presents average precipitation (mm) in Stockholm for 2022.

| Month     | Precipitation [mm] |
| --------- | :--------------: |
| January   | 30             |
| February  | 30             |
| March     | 30             |
| April     | 45             |
| May       | 35             |
| June      | 60             |
| July      | 50             |
| August    | 65             |
| September | 65             |
| October   | 40             |
| November  | 45             |
| December  | 35             |

In the code cells below, write some Python code that allows users to select a month and have the monthly average precipitation printed to the screen.
For example, your code should display the following for the month of February:

```
The average precipitation in Stockholm in February is 30 mm
```

### Grading for Assignment 2

Your score for this problem will be based on

- Having your notebook display the monthly average precipitation in a selected month, set by defining the variable `selected_month_index`. **NOTE**: We expect you to use the index value to select the month, not the name of the month (e.g., "May").
- Having it work for all 12 months in the year.
- Describing how your code works in a few sentences of plain English in a Markdown/text cell above your code
- Including inline comments in the Python cells to clearly explain how the code works between most or all lines of your code

In [ ]:
# YOUR CODE HERE

# Here is the variable that you should use to set the selected month
selected_month_index = None

# Here are also the names of the two lists you should use for this problem. Please do not change the variable names!
months = None
average_precip = None

# Using the lists and their indices, generate the desired print statement
print_statement = None

In [ ]:
# This cell will help you check that the output of your print statement is correct
print(print_statement)

### Additional tests for Assignment 2

Let's run some additional tests to see if things are working as they should! These tests may help you in solving this problem. Note, we also have some hidden tests that we will run for checking the exercises.

In [ ]:
# Check that the two lists have lengths of 12
assert len(months) == 12, 'Wrong length!'
assert len(average_precip) == 12, 'Wrong length!'

In [ ]:
# Check that that the month and average_temp variables are lists
assert isinstance(months, list), 'Variable months is not a list'
assert isinstance(average_precip, list), 'Variable average_precip is not a list'

In [ ]:
# Check that the print statement is correct;
# Set selected_month_index to correspond with July before running this cell.
# Note! Your code should work with any of the 12 months!
assert print_statement == 'The mean precipitation in Stockholm in July is 50'

### Questions about this week's lesson

Please use Markdown to give your responses to the three questions below about this week's lesson.

- What did you learn?
- What was unclear?
- What would you change about the lesson?
    
*Please use a Markdown list when answering these questions.*

YOUR ANSWER HERE

Save this file and download it if you are working on the cloud or simply save it if you are working in your local system. Submit it through Canvas!